
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

nav.right > h2 {
    display: inline-block;
}




footer {
    text-align: center;
}