<html>
<head>
	<title>Pin-Copy</title>

	<!-- Reset Css -->
	<link rel="stylesheet" href="../../resources/css/reset.css">

	<!-- Main Css -->
	<link rel="stylesheet" href="../../resources/css/main.css">
</head>
<body>

	<header>
		<div class="logo-name left">
			<div class="logo left"><img src="../../resources/img/pinterest_profile_image.png" alt="logo" width="50"></div>
			<div class="project-name left">
				<h2>Test</h2>
			</div>
		</div>
		<div class="login-join right">
			<button type="button">로그인</button>
			<button type="button">회원가입</button>
		</div>
		<nav class="right">
			<h2>소개</h2>
			<h2>비지니스</h2>
			<h2>언론</h2>
		</nav>
	</header>

</body>
</html>
