<html>
<head>
	<title>Pin-Copy</title>

	<!-- Reset Css -->
	<link rel="stylesheet" href="../../resources/css/reset.css">

	<!-- Main Css -->
	<link rel="stylesheet" href="../../resources/css/main.css">
</head>
<body>

	<header class="clearfix">
		<div class="logo-name left">
			<div class="logo left"><img src="../../resources/img/pinterest_profile_image.png" alt="logo" width="50"></div>
			<div class="project-name left">
				<h2>Test</h2>
			</div>
		</div>
		<div class="login-join right">
			<button type="button">로그인</button>
			<button type="button">회원가입</button>
		</div>
		<nav class="right">
			<h2>소개</h2>
			<h2>비지니스</h2>
			<h2>언론</h2>
		</nav>
	</header>

	<section>
		<div class="login-title"></div>
		<div class="login-input">
			이메일 <br>
			<input type="text" name="email" placeholder="이메일"> <br>
			비밀번호 <br>
			<input type="password" name="pw" placeholder="비밀번호"> <br>
			<a href="#">비밀번호를 잊으셨나요?</a>
		</div>
		<div class="login-btn">
			<button type="button">로그인</button> <br>
			또는 <br>
			<button type="button">faceook으로 계속하기</button> <br>
			<button type="button">goole로 계속하기</button> <br>
			<p>
				계속 진행하면 Pinterest <a href="#">서비스</a> 약관에 동의하고 <a href="#">개인정보 보호정책</a>을 읽었음을 인정하는 것으로 간주됩니다.
			</p>
		</div>
		<hr>
		<p>
			<a href="#">아직 Pinterest를 사용하고 있지 않으신가요? 가입하기</a>
			사업체인가요? <a href="#">여기에서 시작하세요!</a>
		</p>
	</section>

	<footer>
		<a href="#">서비스 약관</a>
		<a href="#">개인정보 보호정책</a>
		<a href="#">도움말</a>
		<a href="#">iPhone 앱</a>
		<a href="#">Android 앱</a>
		<a href="#">사용자</a>
		<a href="#">컬렉션</a>
		<a href="#">오늘</a>
		<a href="#">탐색</a>
	</footer>

</body>
</html>
