<html>
<head>
	<title>Pin-Copy</title>

	<!-- Reset Css -->
	<link rel="stylesheet" href="../../resources/css/reset.css">

	<!-- Main Css -->
	<link rel="stylesheet" href="../../resources/css/main.css">
</head>
<body>

	<header class="clearfix">
		<div class="logo-name left">
			<div class="logo left"><img src="../../resources/img/pinterest_profile_image.png" alt="logo" width="50"></div>
			<div class="project-name left">
				<h2>Test</h2>
			</div>
		</div>
		<div class="login-join right">
			<button type="button">로그인</button>
			<button type="button">회원가입</button>
		</div>
		<nav class="right">
			<h2>소개</h2>
			<h2>비지니스</h2>
			<h2>언론</h2>
		</nav>
	</header>

	<footer>
		<a href="#">서비스 약관</a>
		<a href="#">개인정보 보호정책</a>
		<a href="#">도움말</a>
		<a href="#">iPhone 앱</a>
		<a href="#">Android 앱</a>
		<a href="#">사용자</a>
		<a href="#">컬렉션</a>
		<a href="#">오늘</a>
		<a href="#">탐색</a>
	</footer>

</body>
</html>
